html{
    width: 1440px;
}
body{
    width: 100%;
    height: 100%;
    margin: 0px;
    background-color: #252638;
}
#divizquierda,#divderecha{
    height: 780px;
    float: left;
}
#divizquierda{
    width: 70%;
}
#divizquierda>img{
    width: 60px;
    border-radius: 40px;
    margin-top: 15px;
    margin-left: 20px;
    box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#titulo{
    color: #F5C505;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 20px;
    margin-top: 0px;
}
#restart{
    width: 48px;
    height: 158px;
    position: relative;
    left: 80px;
    bottom: 450px;
    border-radius: 35px;
    background: #6F7789;
}
#restart>p,img{
    transform: rotate(-90deg);
    position: relative;
}
#restart>p{
    display: block;
    top: 70px;
    color: #252638;
    text-align: center;
    font-size: 17px;
    font-weight: 700;
}
#restart>img{
    margin: auto;
    display: block;
    top:70px;
}
#nombreapp{
    color: #6F7789;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: 900;
    font-size: 20px;
}
#divtablero{
    width: 60%;
    height: 600px;
    margin:auto;
    margin-top: 20px;
    background-color: #171726;
}
#divderecha{
    width: 30%;
}
#divderecha>div{
    width: 80%;
    height: fit-content;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    flex-shrink: 0;
    border-radius: 15px;
    background-color: #171726;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.74);
}
#divderecha>div>div:nth-child(1){
    width: 100%;
    margin: auto;
    height: 75px;
}
#divderecha>div>div:nth-child(1)>div{
    width: 60px;
    height: 60px;
    border-radius: 7px;
    background: #6F7789;
    float:left;
    margin-left: 42px;
    margin-top: 15px;
}
#divderecha>div>div:nth-child(1)>div:hover{
    box-shadow: 0px 0px 24px 6px rgba(255, 255, 255, 0.25);
    background-color: white;
}
#divderecha>div>div:nth-child(1)>div>a>img{
    margin: auto;
    width: 40px;
    height: 40px;
    display: block;
    margin-top: 10px;
}
#divderecha>div>p{
    text-align: center;
    margin-bottom: 0px;
    color: #6F7789;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    /*font-family: Poppins;*/
    font-size: 18px;
}
#divderecha>div>div:nth-child(3){
    padding: 0px;
    width: content;
    overflow: hidden;
}
#divderecha>div>div>figure{
    border-radius: 7px;
    background: #414467;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 100px;
    height: 100px;
    margin-left: 50px;
    margin-right: 0px;
    margin-top: 10px;
    float: left;
}
#divderecha>div>div>figure>img{
    width: 37px;
    margin: auto;
    margin-top:15px;
    display: block;
}
#divderecha>div>div>figure>figcaption{
    color: #6F7789;
    text-align: center;
    /*font-family: Poppins;*/
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    margin-top: 5px;
}