@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Poppins:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&family=Press+Start+2P&display=swap');

/* COLORES */
:root{

--primary: #252638;
--secondary: #171726;
--terciary: #6F7789;
--personajes: #414467;
--contrast: #F5C505;
--shadow: #000000e0;
--theme-img: url('img/iconos/sol.png');
--theme-color: #000;

}

*{
    transition: background-color 0.8s ease , color 0.8s ease, box-shadow 0.8s ease,text-shadow 0.8s ease;
}



#vistaPrincipal{
    width: 100%;
    height: 100vh;
}

html{
    margin:0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

body{
    width: 100%;
    height: 100vh;
    margin: 0px;
    background-color: var(--primary);
    font-family: 'Poppins', sans-serif;
    user-select: none;
}

button {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

#titulo,#restart>p,#score>p,#nombreapp,#divderecha>div>p,#panelajustes>p,#divderecha>div>div>figure>figcaption,.tituloranking{
    text-align: center;
}

#vistaRanking>.boton,
#vistaAjustes>.boton,
#vistaCentro>.boton,
#vistaCurso>.boton{
    float: right;
}

#vistaPrincipal #hora,
#construccion{
    display: none;
}

#divderecha {
    position:fixed;
    right: 0;
    top:0;
    height: 100%;
    float: left;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#divderecha > div {
    width: 100%;
    height: 96%;
    margin-right: 40px;
    padding-bottom: 2%;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 15px;
    background-color: var(--secondary);
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.74);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#divderecha > div > div:nth-child(3) {
    padding: 0px;
    width: 100%;
    overflow: auto;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1; /* Agrega esta línea */
    justify-content: space-between;
}

#divderecha > div > p{
    color: var(--terciary);
    margin-bottom: 10px;
    margin-top: 25px;
}

#divderecha > div > div:first-child{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 7%;

}

#divderecha > div figcaption{
    color: var(--primary);
}

#divderecha > div > div > figure {
    display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
    flex-grow: 1;
    border-radius: 7px;
    background: var(--personajes);
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 35%;
    max-width: 125px;
    margin: 10px 20px;
    aspect-ratio: 1/1;
}

#divderecha > div > div > figure > img {
    aspect-ratio: 37/60;
    width: 40%;
    margin: auto;
    display: block;
}

#divizquierda {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 80%;
    height: 100vh;
    float: left;
    flex-direction: column;
}

#logo{
    width: 60px;
    border-radius: 40px;
    margin-top: 15px;
    margin-left: 20px;
    box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: filter 0.3s ease;
    z-index: 99;
}

#logo:hover{
    filter:drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.4))
}

#vistaPrincipal>#logo{
    position: absolute;
    top: 0px;
    left: 0px;
}

#titulo{
    color: var(--contrast);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    font-size: 20px;
    margin-top: 0;
    font-family: 'Press Start 2P', sans-serif;
}

#restart{
    pointer-events: auto;
    width: 48px;
    height: 158px;
    position: absolute;
    transition: all 0.3s ease;
    right: 80%;
    border-radius: 35px;
    background: var(--terciary);
}

ul > li > img:not(:first-child){
    display:none;
}

#restart>p,#restart>img{
    transform: rotate(-90deg);
    position: relative;
}

#restart>p{
    width: 100%;
    text-align: center;
    display: block;
    color: var(--primary);
    position: absolute;
    bottom: 55px;
    transition: all 0.3s ease
}

#restart:hover p{
    opacity: 0;
}

#restart>img{
    margin: 0 auto;
    top:50px;
    transition: all 0.3s ease;
}

#restart:hover img{
    transform: rotate(0deg);
    top:4px;
    left: 1px
}

#restart:hover{
    height: 50px;
}

#score{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 48px;
    height: fit-content;
    position: absolute;
    left: 81%;
    top: 39%;
    margin-bottom: 60px;
    padding-top: 0px;
}

#score>p{
    color: var(--terciary);
    width: fit-content;
    font-size: 25px;
    transform: rotate(-90deg);
    text-shadow: -4px 1px 4px rgba(0, 0, 0, 0.88);
}

#score>:nth-child(2){
    font-size: 60px;
    margin-top: 10px;
}

#nombreapp{
    color: var(--terciary);
    text-shadow: 0px 4px 4px var(--shadow);
    font-weight: 900;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#divtablero{
    aspect-ratio: 1/1   ;
    width: 55%;
    background-color: var(--secondary);
    border-radius: 7px;
}

#info , #end{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5vw;
    color: var(--primary);
    text-align: center;
    width: 580px;
    pointer-events: none;
}

#end{
    visibility: hidden;
    top: 83%;
    font-size: 15px;
}


#theme{
    box-shadow: 0px 0px 24px 6px var(--shadow);
    background-color: var(--theme-color);
    margin-right: 20px;
}

#theme img{
    content: var(--theme-img);
}

#theme > img,
#settings > img,
#rk > img{
    transition: transform 0.5s ease ;
}


#theme:hover > img ,
#settings:hover > img{
    transform: rotate(360deg);
}

#rk:hover > img{
    transform: rotateY(360deg);
}

#vistaPrincipal .boton{
    aspect-ratio: 1/1;
    width: 22%;
}

#vistaPrincipal .boton > img{
    aspect-ratio: 1/1;
    width: 60%;
}

#rk{
    margin-right: 20px;
}
.boton{
    aspect-ratio: 1/1;
    width: 65px;
    border-radius: 7px;
    background: var(--terciary);
    color: var(--primary);
    float:left;
    margin-top: 15px;
    padding:0px;
}

.boton>img{
    aspect-ratio: 1/1;
    margin: auto;
    width: 40px;
    display: block;
    margin-top: 0px;
}

/*Ranking*/
#vistaRanking{
    width: 100%;
    height: 100vh;
}

#vistaRanking>.boton,
#vistaSettings>.boton{
    float: right;
}

.tituloranking{
    color: var(--terciary);
    width: fit-content;
    margin: auto;
    font-size: 59px;
    margin-top: 0px;
    position: relative;
    bottom:35px;
    text-shadow: .03em .03em 0 var(--primary);
}

.tituloranking:after {
    content: attr(data-shadow);
    position: absolute;
    top: .06em; left: .06em;
    z-index: -1;
    text-shadow: none;
    background-image:
      linear-gradient(
        45deg,
        transparent 45%,
        var(--terciary) 45%,
        var(--terciary) 55%,
        transparent 0
        );
    background-size: .05em .05em;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    animation: shad-anim 50s linear infinite;
    }

@keyframes shad-anim {
  0% {background-position: 0 0}
  0% {background-position: 100% -100%}
  }

#tablonranking{
    width: 70%;
    height: 60%;
    border-radius: 15px;
    background: var(--secondary);
    margin: auto;
    margin-top: 35px;
    position: relative;
    bottom:50px;
    overflow: scroll;
    scrollbar-width: none;
    padding: 15px;
}

#tablonranking p{
    margin:0px;
}

::-webkit-scrollbar{
    display: none;
}

#tablonranking>div{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    border-radius: 14px;
    background: var(--terciary);
    height: 75px;
    margin-top: 15px;
}

#tablonranking>div:first-child{
    margin-top: 0px;
}

#tablonranking>div:hover{
    box-shadow: 0px 0px 24px 6px rgba(255, 255, 255, 0.25);
    background-color: rgb(209, 207, 207);
}

#tablonranking>div>p{
    margin-bottom: 0px;
    color: var(--primary);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#tablonranking>div>p:nth-child(1){
    margin-left: 45px;
    margin-top: 0;
    font-size: 35px;
    width: 40px;
}

#tablonranking>:nth-child(-n+3)>p:nth-child(1){
    font-size: 50px;
}

#tablonranking>:nth-child(1)>p:nth-child(1){
   color: #F5C505;
}

#tablonranking>:nth-child(2)>p:nth-child(1){
    color: #C0C0C0;
}

 #tablonranking>:nth-child(3)>p:nth-child(1){
    color: #CD7F32;
 }

#tablonranking>div>p:nth-child(2){
    font-size: 2.5vw;
}

#tablonranking>div>p:nth-child(3){
    position:relative;
    font-size: 15px;
    bottom:20%;
    left: 4.5%;
}

#tablonranking>div>p:nth-child(4){
    font-size: 15px;
    position: relative;
    top: 10%;
    right: 9.5%;
    transform: translate(0,10%);
}

#tablonranking>div>p:nth-child(5){
    font-size: 15px;
    position: relative;
    right: 10%;
}

#tablonranking>div>p:nth-child(6){
    font-size: 3vw;
    position: relative;
    right: 80px;
    text-transform: uppercase;
    background: linear-gradient(to left, var(--secondary) 0%, var(--primary) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#tablonranking>div>img{
    width: 30px;
    position: relative;
    right: 40px;
}

.medalla{
    position: fixed;
    left: 15px;
    bottom:65px;
}

#vistaRanking>#score{
    left: 89%;
    top:33%;
}

#botonatras {
    opacity: 0.6;
    padding: 20px;
    aspect-ratio: 1/1;
    width: 4%;
    margin:15px auto;
    margin-bottom: 3.5%;
    display: block;
    border-radius: 50%;
    background: var(--terciary);
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color:var(--primary);
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

#botonatras:hover{
    box-shadow: 0px 0px 24px 6px rgba(255, 255, 255, 0.25);
    background-color: white;
}

#imagenmodificar{
    display: block;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
}

#back{
    position: absolute;
    right: 4.5%;
    top:5%;
    width: 90%;
    height: 90%;
}

/*Ajustes*/
#vistaSettings{
    height: 100%;
}

#panelajustes{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: 25px;
    width: 50%;
    border-radius: 15px;
    background: var(--secondary);
    padding-top:15px;
    padding-bottom: 15px;
}

#panelajustes p{
    color: var(--terciary);
    margin-bottom: 0;
}

#panelbotones{
    width: fit-content;
    margin: auto;
}

#panelbotones>.boton{
    float: none;
    margin-right: 25px;
    margin-left: 25px;
}

#panelajustes>.tituloranking{
    font-size: 2vw;
    top:0px;
    margin-top: 15px;
}

#panelajustes>.botonsettings{
    display: block;
    text-align: center;
    width: 80%;
    height: 50px;
    color: var(--primary);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    background: var(--terciary);
    margin: 10px auto;
    padding:0px;
}

#vistaForm ,#vistaFormReflexiones{
    z-index: 99;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

#form-end{
    position:absolute;
    top: 50%;
    left: 50%;

}

#status {
    text-align: center;
    display: block;
    color: rgb(89, 255, 0);
    font-size: 15px;
}

#respuesta {
    text-align: center;
    display: block;
    color: var(--terciary);
    font-size: 10px;
    margin-bottom: 13px;
}

nav{
    width: 98%;
    height: 10%;
    border-radius: 15px;
    background-color: var(--secondary);
    margin: 10px auto;
    margin-bottom: 30px;
    box-shadow: 4px 4px 4px 0px var(--shadow);
}

nav ul {
list-style-type: none;
padding: 0;
margin: 0;
display: flex;
height: 100%;
align-items: center;
}

nav li {
    border-radius: 10px;
    margin: 10px;
    height: 80%;
    flex-grow: 1;
    display: flex;
    align-items: center;
    background-color: var(--terciary);
    transition: filter 0.3s ease;
}

nav li:hover:not(:first-child) {
    filter: drop-shadow(0 0 0.4em var(--terciary));
  }

nav a {
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: var(--secondary);
    font-size: 1.5vw;
    display: flex;
    justify-content: center ;
}

nav #logo{
    width: 4.5vw;
    margin:0;
}

nav li:first-child{
    margin:0;
    background-color: transparent;
    margin-left: 20px;
    margin-right: 10px;
    flex-grow:0;
}

body > #hora{
    font-size: 2.5vw;
    position:absolute;
    top:12%;
    left: 50%;
    transform: translate(-50%,0);
    color: var(--terciary);
    text-shadow: 2px 2px 4px var(--shadow);
}

/*Administracion*/

#error{
    text-align: center;
    width: 90%;
    color: var(--terciary);
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    font-size: 3vw;
    z-index: 99;
}
#panelAdmin{
    width: 40%;
    height: 450px;
    border-radius: 15px;
    background: var(--secondary);
    padding-top: 0px;
    margin: auto;
    margin-top: 35px;
    position: relative;
    bottom:50px;
    overflow: scroll;
    scrollbar-width: none;
}

#admin{
    text-align: center;
    width: 90%;
    font-size: 3vw;
    color: var(--terciary);
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#informacion{
    text-align: center;
    width: 90%;
    font-size: 1vw;
    color: var(--terciary);
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%,-50%);
}

body > #nombreapp{
    position:fixed;
    left:50%;
    bottom: 10px;
    transform: translate(-50%,0);
}

#panelAdmin::-webkit-scrollbar{
    display: none;
}

#panelAdmin>a>div{
    border-radius: 14px;
    background: var(--terciary);
    height: 70px;
    width: 80%;
    margin: auto;
    margin-top: 15px;
}

#panelAdmin>a>div:hover{
    scale: 1.03;
    box-shadow: 0px 0px 24px 6px rgba(255, 255, 255, 0.25);
    background-color: rgb(209, 207, 207);
}

/*Centro*/
#panelCentro{
    position:absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 90%;
    height: 60%;
    border-radius: 15px;
    background: var(--secondary);
    padding-top: 0px;
    margin-top: 35px;
    overflow: scroll;
    scrollbar-width: none;
}

#panelCentro::-webkit-scrollbar{
    display: none;
}

#panelCentro>div:first-child{
    width: 100%;
    height: 40px;
    border-radius: 16px 16px 0px 0px;
    background: var(--terciary);
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding-top: 15px;
    position: absolute;
}

#panelCentro p{
    margin-top: 0px;
    float: left;
    color: var(--primary);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: 900;
    font-size:20px;
    margin-left: 25px;
    margin-bottom: 10px;
}

#panelCentro>div:first-child>a>button{
   float:right;
   margin-right: 25px;
}

#panelCentro>div:nth-child(2){
    margin-top: 65px;
    width: 100%;
}

#panelCentro>div:nth-child(2)>div{
    border-radius: 5px;
    background: var(--terciary);
    height: 20px;
    padding-bottom: 30px;
    margin: 7px 7px;
}

#panelCentro>div:nth-child(2)>div p{
    float: right;
    font-size: 20px;
    margin-top: 10px;
    margin-right: 15px;
}

#panelCentro>div:nth-child(2)>div>p{
    float: left;
}

#panelCentro>div:nth-child(2)>div>a>img{
    width: 35px;
    float:right;
    margin-top: 5px;
}

/*Curso*/
#vistaCurso>#panelCentro{
    width:35%;
}

#vistaCurso>#panelCentro>div:first-child>a>button{
    margin-left: 150px;
}

#panelCentro>#curso>div{
    height: 10px;
}

#panelCentro>#curso>div p{
    font-size:16px;
    margin-top: 8px;
}

#panelCentro>#curso>div>a>img{
    width: 30px;
}

.reflection {
    background-color: var(--secondary);
    padding: 15px;
    width: 96%;
    border-radius: 10px;
    margin: 0 auto 30px;
}


/*Form inicio*/
#vistaForm>form ,
#vistaFormReflexiones > form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: var(--secondary);
    width:30%;
    padding: 20px;
    border-radius: 5px;
    filter: drop-shadow(0 0 0.7em var(--shadow));
}

#vistaForm label ,
#vistaFormReflexiones label{
    margin-bottom: 5px;
    font-weight: bold;
    color: var(--terciary);
}

#vistaForm input,
#vistaFormReflexiones input,
#vistaForm select ,
#vistaFormReflexiones select{
    color:var(--primary);
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    margin-top: 6px;
    margin-bottom: 15px;
    box-sizing: border-box;
    background-color: var(--terciary);
    font-weight: bold;
    border: none;
}

input:focus, select:focus {
    outline: none;
    filter: drop-shadow(0 0 0.2em var(--terciary));
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px var(--terciary) inset !important;
    -webkit-text-fill-color: var(--primary) !important;
}

#vistaForm form button,
#vistaFormReflexiones form button{
        background-color: var(--terciary);
        color: var(--primary);
        font-weight: bold;
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
        margin: 0 auto;
}

#vistaForm form button:hover ,
#vistaFormReflexiones form button:hover{
    background-color: var(--terciary);
}

#over{
    text-align: center;
    font-weight: bolder;
    margin: 0;
    padding: 10px;
    font-size: 20px;
    color: var(--terciary);
}

.error-message ,#status-message{
        color: rgb(255, 0, 76);
        font-size: 12px;
}

@media (prefers-color-scheme: dark)  {
   /* dark mode */
   :root{
    --primary: #252638;
    --secondary: #171726;
    --terciary: #6F7789;
    --personajes: #414467;
    --contrast: #F5C505;
    --shadow: #000000e0;
    --theme-img: url('../img/iconos/luna.png');
    --theme-color: #000;
   }

  }

@keyframes disappearRight {
    0% {
        transform: translateX(0%);
        opacity: 1;
    }
    100% {
        transform: translateX(100%);
        opacity: 0;
        display: none;
    }
}

@keyframes appearRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
        display: flex;
    }
}


@keyframes enlargeBoard {
    0% {
        width: 80%;
    }
    100% {
        width: 100%;
    }
}

@keyframes shortBoard{
    0%{
        width: 100%;
    }
    100%{
        width: 80%;
    }
}

@keyframes ocultarTexto {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;

    }
}

 @keyframes entrarTablero {
    0% {
        filter: none;
    }
    100% {
        filter: drop-shadow(0px 0px 12px rgba(0, 0, 0, 0.5));
    }
}

@keyframes salirTablero {
    0% {
        filter: drop-shadow(0px 0px 12px rgba(0, 0, 0, 0.5));
    }
    100% {
        filter: none;
    }
}

@keyframes mostrarTexto {
    0% {
        opacity: 0;
        visibility: hidden;
    }
    50%{
        opacity: 0;
    }
    100% {
        opacity: 1;
        visibility: visible;
    }
}

@keyframes okAnimation {
    0% {
        filter: drop-shadow(0 0 0.7em #000000);
    }
    100% {
        filter: drop-shadow(0 0 0.8em lightgreen);
    }
}

@keyframes sendTop {
    0% {
        transform: translateY(0%);
        opacity: 1;
    }
    50%{
        opacity: 0.3;
    }
    100% {
        transform: translateY(-100%);
        opacity: 0;
        display: none;
    }
}

@keyframes mostrarForm {
    0% {
        transform: scale(0);
      opacity: 0;
      visibility: hidden;
    }
    20%{
        transform: scale(1);
        opacity: 1;
    }
    100% {
      visibility: visible;
    }
  }

  @keyframes shakeAnimation {
    0% { transform: translateX(0); }
    25% { transform: translateX(-3px); }
    50% { transform: translateX(4px); }
    75% { transform: translateX(-3px); }
    100% { transform: translateX(0); }
  }

  @keyframes blurBG {
    0% {
        visibility: hidden;
      background-color: transparent;
    }
    100% {
        visibility: visible;
      background-color: rgba(0, 0, 0, 0.7);
    }
  }

  @keyframes hideBG {
    0% {
        visibility: visible;
        background-color: rgba(0, 0, 0, 0.7);
    }
    100% {
        visibility: visible;
        background-color: transparent;
    }
  }

  @keyframes clickerOpacityIn {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0.6;
    }
  }

  @keyframes clickerOpacityOut {
    0%{
        opacity: 0.6;
    }
    100%{
        opacity: 1;
    }
  }

@media (prefers-color-scheme: light) {
    /* light mode */
    :root{
     --primary: #FFF5DD;
     --secondary: #FCC34D;
     --terciary: #CCAC92;
     --personajes: #3E0900;
     --contrast: #42547A;
     --shadow: #ffffff40;
     --theme-img: url('../img/iconos/sol.png ');
     --theme-color: #fff;
    }

     #divderecha > div > p{
         color: var(--primary);
     }

   }

@media screen and (width > 2600px){
    #divderecha{
        display: none;
    }
    #divizquierda{
        display: none;
    }
    #construccion{
        text-align: center;
        display: block;
        position:absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-size: 5vw;
        color: var(--terciary);
    }
}

@media screen and (width >= 2476px){
    #divderecha > div > div > figure:last-child{
        display: none;
    }
}

 @media  screen and (width < 1400px) {
     #divderecha > div > div > figure{
         max-width: none;
     }

 }

 @media screen and (max-width: 950px) {
     #tablonranking > div > p:nth-child(5),
     #tablonranking > div > p:nth-child(4),
     #tablonranking > div > p:nth-child(3) {
       display: none;
     }

     #tablonranking > div > p:nth-child(6){
         margin-left: 35%;
     }
   }

@media  screen and (height < 800px){
    #vistaSettings #theme,
    #vistaSettings #logo{
        display: none;
    }
}

@media screen and (width < 850px){
    #divizquierda{
        visibility: hidden;
        width: 0;
    }
    #divderecha{
        visibility: hidden;
    }

    #divderecha > div > div button {
        margin: 0;
        position:fixed;
        visibility: visible;
    }
    #divizquierda #nombreapp{
        width: 80%;
        visibility: visible;
        position: fixed;
        top:60%;
        left: 50%;
        transform: translate(-50%,-50%);
        margin: 0;
        font-size: 6vw;
        text-shadow: .03em .03em 0 var(--primary
        );
    }

    #divizquierda #nombreapp:after {
        content: attr(data-shadow);
        position: absolute;
        top: .06em; left: 2.35em;
        z-index: -1;
        text-shadow: none;
        background-image:
          linear-gradient(
            45deg,
            transparent 45%,
            var(--terciary) 45%,
            var(--terciary) 55%,
            transparent 0
            );
        background-size: .05em .05em;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        animation: shad-anim 100s linear infinite;
        }

    #divizquierda #score p:last-child{
        margin:0;
        transform: rotate(0);
        visibility: visible;
        position: fixed;
        font-size: 8vw;
        left: 3%;
        top:0;
        opacity: 0.8;
    }

    #divderecha #theme{
        width: 15%;
        left: 12%;
        bottom: 90px;
    }

    #divderecha #rk{
        width: 15%;
        bottom: 90px;
        left:50%;
        transform: translate(-50%,0);
    }

    #divderecha #settings{
        width: 15%;
        bottom: 90px;
        right:12%;
    }

    #vistaPrincipal #logo{
        aspect-ratio: 1/1;
        width: 45%;
        border-radius: 50%;
        margin:0;
        top:36%;
        left:50%;
        transform: translate(-50%,-50%);
    }

    #vistaPrincipal #hora{
        font-family: 'Press Start 2P', sans-serif;
        margin: 0;
        display: block;
        position: fixed;
        top: 1.5%;
        right: 2%;
        color: var(--terciary);
        font-size: 2.5vw;
        padding: 10px;
        text-shadow: 4px 3px 4px var(--shadow);
    }

    #vistaRanking #score{
        display: none;
    }

    #tablonranking{
        width:90%;
        height: 65%;
    }

    #tablonranking>div>p:nth-child(6){
        font-size: 4vw;
        right: 17%;
    }

    #tablonranking>div>p:nth-child(2){
        font-size: 3.5vw;
    }

    #tablonranking>div>img{
        right: 25px;
    }

    .tituloranking{
        font-size: 10vw;
    }

    #vistaRanking #logo{
        width: 9vw;
    }

    #vistaRanking #theme{
        width: 9vw;
    }

    #vistaRanking > #theme img{
        width: 6vw;
    }

    #tablonranking>div>p:nth-child(1){
        margin-left: 20px;
    }

    #panelajustes{
        width: 95%;
    }

    #botonatras{
        margin-bottom: 7%;
    }

    #informacion{
        font-size: 2vw;
    }

    ul > li > img{
        display: block;
    }

    @media screen and (width <= 600px){
        #panelCentro p{
            font-size: 3vw;
        }

        #panelCentro>div:nth-child(2)>div p{
            font-size: 3vw;
        }
        #panelCentro>div:nth-child(2)>div>a>img {
            width: 5.6vw;
        }
    }

}

